{
    "root": true,
    "extends": [
        "airbnb",
        "plugin:prettier/recommended",
        "plugin:cypress/recommended"
    ],
    "settings": {
        "import/core-modules": [
            "gatsby"
        ]
    },
    "globals": {
        "graphql": true
    },
    "ignorePatterns": ["gas/*.js"],
    "rules": {
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["cypress/**/*.js"]}],
        "react/function-component-definition": [1],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}
