{
    "root": true,
    "extends": [
        "airbnb",
        "plugin:prettier/recommended"
    ],
    "settings": {
        "import/core-modules": [
            "gatsby"
        ]
    },
    "globals": {
        "graphql": true
    },
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}
