.wedding-info {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #001f3f;
}

.main-body {
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: #001f3f;
}

.save-the-date-photo {
    border-radius: 5%;
}
