.header {
    background: #f8f8f8;
    margin-bottom: 1rem;
}

.layout-container {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.navbar-hr {
        display: block;
        width: 70%;
        text-align: center;
        border-top: 1px solid #ad1d68;
        height: 1px;
        margin: 0 auto;
}

.content-wrapper {
    padding-top: 0;
    display: block;
    text-align: center;
}

.title {
    font-family: 'Euphoria Script', cursive;
    font-size: 70px;
    color: #001f3f;
}

.monospace a {
    font-family: 'Inconsolata', monospace;
    color: #ad1d68;
}

.footer {
    bottom: 0;
    box-sizing: border-box;
    color: gray;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    height: 60px;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: right;
    width: 100%;
  }
