.form-container {
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
  }

.attendee-counts {
    column-count: 1;
}

.food-choices {
    column-count: 1;
}

@media only screen and (min-width: 768px) {
    .food-choices {
        column-count: 4;
    }
    .attendee-counts {
        column-count: 2;
    }
}


.modal {
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    font-family: 'Raleway', sans-serif;
    position: absolute;

}
.modal.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

.modal h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
}
.modal .content {
    padding: 1rem;
}
.modal .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
}

@media only screen and (min-width: 768px) {
    .form-container {
        margin: 0 auto;
        text-align: center;
        display: flex;
        width: 60%;
    }
    .modal {
        width: 500px;
        left: 50%;
        top: 50%;
        margin-left: -250px;
        margin-top: -250px;
    }
}

.entree-explainer {
    margin-bottom: 20px;
}
